name: Playwright Tests

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *' # every day at midnight UTC

jobs:
  test-e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          yarn install

      - name: Install Playwright browsers
        working-directory: ./frontend
        run: |
          npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: ./frontend
        env:
          E2E_BASE_URL: https://nextrides-frontend.onrender.com
        run: |
          yarn test:e2e
